<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-dialogs-swt"
        version="1.0">

  <name>Splash Plugin</name>

  <platform name="swt">
  	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="Notification">
                <param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
            </feature>
    </config-file>
	
	<source-file src="src/main/java/org/apache/cordova/dialogs/Notification.java" target-dir="src/org/apache/cordova/dialogs" />
	<source-file src="src/main/java/org/apache/cordova/dialogs/DialogHelper.java" target-dir="src/org/apache/cordova/dialogs" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/ChoiceItem.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/ChoiceWidget.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/Dialog.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/DialogArea.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/FooterArea.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/MessageArea.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/ReadOnlyStyledText.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/ResourceManager.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/StringUtil.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
	<source-file src="src/main/java/org/eclipse/nebula/widgets/opal/dialog/SWTGraphicUtil.java" target-dir="src/org/eclipse/nebula/widgets/opal/dialog" />
  </platform>
</plugin>